@import './base.css';
@import url('https://fonts.googleapis.com/css2?family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


body {
    color: black;
}

header {
    display: flex;
    justify-content: space-between;
	align-items: center;
	padding: 1vw 5vw;
	background-color: #cfa3c1;
}

header h1{
    font-size: x-large;
    margin: 10px;
}

.pesquisa {
	position: relative;
  	width: 200px;
}
.pesquisa input {
	width: 100%;
  	padding: 8px 35px 8px 10px; 
  	border: 1px solid #ccc;
  	border-radius: 4px;
  	font-size: 1rem;
}
.iconePesquisa {
	position: absolute;
	right: 10px;
	top: 50%;
	transform: translateY(-50%);
	color: #333;
	pointer-events: none;
}
.abas ul {
	display: flex;
	list-style: none;
	padding: 0;
	margin: 0;
	gap: 20px;
}

.abas a {
	text-decoration: none;
	color: black;
	font-weight: bold;
	padding: 1vw;
}

.icones {
	display: flex;
	list-style: none;
	gap: 15px;
	padding: 0;
	margin: 0;
}
.icones li {
	position: relative;
	display: flex;
	padding: 2px;
}
.icones a {
	content: "|";
  	position: absolute;
  	left: -10px;
  	color: black;
	font-size: 1.2rem;
}
.maisvendido h1 {
	font-family: "Winky Rough", 'Courier New', Courier, monospace;
	font-size: 2.5vw;
	color: #cfa3c1;
	margin: 4vw 0 1vw 5vw;
	border: solid;
	border-radius: 10px;
	padding: 30px 30px 30px 32px;	 
	width: 35%;
}
.maisvendido h2 {
	font-size: 1.8vw;
	margin: 2vw 0 1vw 5vw;
}
.maisvendido h3 {
	font-size: 1.2vw;
	margin: 0 0 1vw 5vw;
}
.conteudo-jp {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.imgjp {
	width: 35%;
	display: flex;
	justify-content: center;
	margin: 0 5vw 3vw;	
}

.imgjp img {
	width: 100%;
	height: auto;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.separador {
	width: 90%;
	margin: 4vw auto;
	border-top: 2px solid #cfa3c1;
}
.generos {
	display: flex;
	flex-wrap: wrap;
	gap: 8px; 
	margin: 2vw 0;
}
.generos button{
	border-radius: 50px;
	background-color: #cfa3c1;
	padding: 1vw 2vw 1vw 2vw;
	border: none;
	display: flex;
	margin: 0 3vw 0 3.1vw;
	font-size: 20px;
}
footer {
	background-color: #cfa3c1;
}
.redessociais {
	margin: 2vw 2vw 2vw 2vw;
	padding: 2vw;
}
.redessociais span {
	padding: 10px;
	font-size: 2vw;
}
.contato li{
	display: flex;
	justify-content: right;
	padding: 2vw;
	margin: 0 10px;
}

.contato h4 {
	display: flex;
	justify-content: right;
	margin: 0 15.5vw 3vw;
	font-size: 1.5rem;
}